*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #000;;
}
.imgObjectfit{
    object-fit: contain;
}
.main{
    width: 100%;
    height: 100vh;
}
.nav{
    width: 100%;
    height: 60px;
    background-color: #000; 
    
}
.navItems {
    display: flex;
    align-items: center; /* Vertically center the items */
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    box-sizing: border-box; 
}
.navItems ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.navItems ul li {
    margin-right: 20px; 
    color: #fff; 
}
.navItems img {
    max-height: 50px; 
    margin-right: 20px; 
}

.firstSection{
    width: 100%;
    padding: 70px;
    box-sizing: border-box;

}
.firstSectionDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.firstSection>div>div{
    width: 50%;
}
.textSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}
.headingText{
    font-family: 'Poppins', sans-serif;
    color: #D9D9D9;
    font-family: Acumin Pro;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -3px;
}
.headingTextsmall{
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.readMoreBtn{
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 50px;
    color: #FFF;
    font-family: Acumin Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding: 13px 44.34px 13px 45px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #853BCE;
    background: linear-gradient(87deg, #FD296E 0%, #FA4C3F 89.75%);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.04);
    transition: background-color 0.3s ease;
}

.imageContainer {
    display: flex;
    justify-content: center; /* Horizontally center-align */
    align-items: center; /* Vertically center-align */
    width: 100%;
    height: 100%;
}
.gif{
    display: flex;
    justify-content: center; /* Horizontally center-align */
    align-items: center; /* Vertically center-align */
    width: 383px;
    height: 438px;
    flex-shrink: 0;
    border-radius: 191.5px 191.5px 41px 41px;
}
.gif img{
   
    object-fit: contain;
}

/* client section */
#clientSection{
   
    width: 100%;
    box-sizing: border-box;
    box-sizing: border-box ;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    background: linear-gradient(90deg, #2A2B2C 0%, #09090B 100%);
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.clientsImgDiv{
    width: 90%;
    margin: auto;
    display: flex;
    padding: 20px 7px;;
    align-items: center;
    justify-content: center;
    gap: 49px;
    object-fit: contain;
    box-sizing: border-box;
}

/* Services Section */
#services{
    width: 100%;
    padding: 70px;
    box-sizing: border-box;
}
.serviceHead{
    padding: 70px;
    box-sizing: border-box;
}

.service-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    grid-template-rows: repeat(3, 1fr); /* Three rows */
   
}
.card-service {
    padding: 20px;
    text-align: center;
}
.iconSevice{
    font-size: 24px;
    margin-bottom: 10px;
}
.headingService {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.servicesText{

}
.buttonSevice {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttonSevice .service-arrow {
    margin-left: 10px;
}
.gridBg1{
    background: linear-gradient(180deg, #181622 0%, #0F082E 100%);
}
.gridBg2{
    background: linear-gradient(180deg, #FE2E69 0%, #FB434C 100%);

}
.gridBg3{
    background: #1E1C1C;
}
.geidBg4{
    background: #535260;
}
.gridBg5{
    background: #19253F;
}
.gridBg6{
    background: #13121C;
}
.gridBg7{
    background: #2F2D39;
}
.gridBg8{
    background: #020202;
}
.gridBg9{
    background: #D9D9D9;
}
/* About Us section */

#aboutUs{
    width: 100%;
    padding: 70px;
    box-sizing: border-box;
}
.aboutUsContainer{
    width: 1303px;
    height: 628px;
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 94px;
    border-radius: 42px;
    border: 1px solid rgba(255, 255, 255, 0.71);
    background: rgba(11, 11, 11, 0.40);
    box-sizing: border-box;

}
.gif-aboutUs{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-shrink: 0;
    border-radius: 191.5px 191.5px 41px 41px;
}
.aboutus-heading{
        color: #FFF;
    text-align: center;
    font-family: Acumin Pro;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 85px; 
    letter-spacing: -2.55px;
}
.aboutus-text-secction{
    
    width: 483px;
    height: 187px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}
.about-us-text-container{
    width: 483px;
    height: 187px;
}
.aboutus-text{
    color: rgba(255, 255, 255, 0.71);
    text-align: justify;
    font-family: Acumin Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 137.5%; /* 27.5px */
}

/* Why us section */

#whyUsSection{
    width: 100%;
    padding: 70px;
    box-sizing: border-box;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap:  60px; /* Gap between grid items */
}

.gridItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;/* Center items horizontally */
}
.fatureIconTextDiv{
    width: 100%;
    display: flex;
    
}
.featureHeadDiv{
    margin-bottom: 90px;
}
.fetaureHead{
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    
}
.fetaureDescriptions{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
}
.icon{
    max-width: 100%;
    margin-right: 5px;
}

/* Vedio section */
#youTube{
    width: 100%;
    padding: 70px;
    box-sizing: border-box;
}
.youtubeSectionHeading{
    padding-bottom: 67px;
    box-sizing: border-box;
}
.viedoDiv{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.video {
    width: 100%;
    height: 650px;
}

/* carousal */

#carousalSection{
    margin: 0;
    padding: 70px;
    box-sizing: border-box;
}

.carousalHead{
    padding-bottom: 110px;
    box-sizing: border-box;
}
.carousal h2{
    color: #FFF;
    font-family: Acumin Pro;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -3px;
}
.carousel {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease;
}

.card {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25.623px;
    width: 453px;
    height: 348px;
    border-radius: 21.855px;
    border: 1px solid #696969;
    padding: 60px 30px;
    box-sizing: border-box;
    background: #1D1D1D;
    margin-right: 20px;
    transform: scale(0.8);
    opacity: 0.7;
    transition: transform 0.5s, opacity 0.5s;
    
}

.card:last-child {
    margin-right: 0;
}
.cardText{
    color: #FFF;
    font-family: Acumin Pro;
    font-size: 12.058px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.card.active {
    transform: scale(1);
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s;
}
.carousel-controls{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 60px 30px;
    box-sizing: border-box;
}
.customerDetailsHead{
    display: flex;
    gap: 13px;
}
.customer-details {
    display: flex;
    flex-direction: column;
    gap: 6.7px;
}
.customer-name{
    color: #FFF;
    font-family: Inter;
    font-size: 9.903px;
    font-style: normal;
    font-weight: 800;
    line-height: 15.562px
}
.customer-desig-company{
    color: #FFF;
    font-family: Inter;
    font-size: 9.043px;
    font-style: normal;
    font-weight: 600;
    line-height: 15.562px;
}
.imageFit{
    object-fit: contain;
}
.arrowMargin{
    margin-right: 30px;
}

/* Footer section */
#footer{
    width: 100%;
    padding: 70px;
    padding: 70px;
    display: flex;
    justify-content: space-between;
    gap: 36px;
    border-top: 1px solid #FFF;
    background: #000;
    box-sizing: border-box;
}
.footerDiv{
    
    display: flex;
    align-items: center;
    gap: 300px;
}
.footerLogoText{
    display: flex;
    align-items: center;
    gap: 32px;
}
.footerDersciption{
    color: #FFF;
    text-align: justify;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14.06px;
}
.footerIconsDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}