*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}
body{
    width: 100%;
    margin: 0;
    background-color: #000;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.body-container {
    width: 100%;
    height: 100%;
}

.main-conatiner{
    width: 100%;
    height: 100%;
}
.wid-25{
    width: 20%;
}
.main{
    width: 100%;
    height: 100%;
    position: relative;
}
#particles-js{
   height: 99%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.calldiv{
    width: 60px;
    height: 60px;
    position: fixed;
    top: 70%;
    left: 90%;

}
.calldiv img{
    width: 100%;
    height: 100%;
}
.imgObjectfit{
    width: 100%;
    object-fit: contain;
}
.wid-100{
    width: 100%;
}
.link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #fff;
    /* Other styles you want to reset or apply */
  }
.displayInline{
    display: inline;
}
.borderradius{
    border-radius: 20px
}
.nav{
    width: 100%;
    height: 60px;
    background-color: #000; 
    
}
.navItems {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0 35px;
    box-sizing: border-box; 
}
.navItems ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.navItems ul li {
    margin-right: 20px; 
    color: #fff; 
}
.navItems img {
    max-height: 50px; 
    margin-right: 20px; 
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.menu-toggle .logo-icon{
    display: none;
}
/* .hamburger */
.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

.firstSection{
    width: 100%;
    padding: 70px;
    box-sizing: border-box;

}
.firstSectionDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.heading-text{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
.headingTextsmall{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.readMoreBtn{
    display: flex;
    height: 50px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding: 13px 44.34px 13px 45px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #853BCE;
    background: linear-gradient(87deg, #FD296E 0%, #FA4C3F 89.75%);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.04);
    transition: background-color 0.3s ease;
}

.imageContainer {
    text-align: center;
    width: 100%;
    height: 100%;
}
.gif{
    width: 383px;
    height: 438px;
    border-radius: 191.5px 191.5px 41px 41px;
}
.gif img{
   
    object-fit: contain;
}

/* client section */
#clientSection{
   
    width: 100%;
    box-sizing: border-box;
    box-sizing: border-box ;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    background: linear-gradient(90deg, #2A2B2C 0%, #09090B 100%);
}

.clientsImgDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 7px;;
    gap: 49px;
    box-sizing: border-box;
}

/* Services Section */
#services{
    width: 100%;
    box-sizing: border-box;
}
.serviceHead{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 70px;
    box-sizing: border-box;
}
.service-head-text{
    color: #FFF;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
  
    
}
.service-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    grid-template-rows: repeat(3, 1fr); /* Three rows */
    
   
}
.card-service {
    display: flex ;
    flex-direction: column;
    padding: 57px 47px 47px 78px;
    box-sizing: border-box;
}
.cardDetailsDiv{
    display: flex;
    flex-direction: column;
    text-align: left;  
}
.iconSevice{
    font-size: 24px;
    margin-bottom: 10px;
}
.headingService {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.card-text-head{
    color: #F1F5F9;
    font-family: 'Roboto', sans-serif;
    font-size: 14.151px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.226px; /* 150% */
    letter-spacing: -0.241px;
}
.card-text-para{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 12.578px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.867px; /* 150% */
    letter-spacing: -0.126px;
}
.learn-more-btn-div{
    display: flex;
    align-items: end;
}
.buttonSevice {
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: space-between;
}
.service-link{
    text-decoration: none;
    color: #fff;
    border: none;
    cursor: pointer;
    
}
.service-link-lastgrid{
    text-decoration: none;
    color: #000;
    border: none;
    cursor: pointer;
}
.buttonSevice .service-arrow {
    color: #FF1400;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.295px; 
    margin-left: 10px;
}
.buttonSevice .service-arrow-secgrid{
    color: #7C1911;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-left: 10px;
}
.gridBg1{
    background: linear-gradient(180deg, #181622 0%, #0F082E 100%);
}
.gridBg2{
    background: linear-gradient(180deg, #FE2E69 0%, #FB434C 100%);

}
.gridBg3{
    background: #1E1C1C;
}
.geidBg4{
    background: #535260;
}
.gridBg5{
    background: #19253F;
}
.gridBg6{
    background: #13121C;
}
.gridBg7{
    background: #2F2D39;
}
.gridBg8{
    background: #020202;
}
.gridBg9{
    background: #D9D9D9;
}

.lastgrid-text{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14.151px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.226px; /* 150% */
    letter-spacing: -0.241px;
}

.lastgrid-text-para{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 12.578px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.867px; /* 150% */
    letter-spacing: -0.126px;

}
.last-grid-learnmore-btn{
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: space-between;

}
.last-grid-learnmore-btn .service-arrow{
    color: #FF1400;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.295px; 
    margin-left: 10px;
}
/* About Us section */

    #aboutUs{
        width: 100%;
        
        padding: 70px;
        box-sizing: border-box;
    }
    .aboutUsContainer{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 70px;
        padding: 94px;
        border-radius: 42px;
        border: 1px solid rgba(255, 255, 255, 0.71);
        background: rgba(11, 11, 11, 0.40);
        box-sizing: border-box;

    }
    .gif-aboutUs{
        display: flex;
        justify-content: center; 
        align-items: center;
        border-radius:37px;
    }
    .gif-aboutUs-vedio-container{
        width: 578px;
        height: 392px;
    }
    .gif-aboutUs video {
        width: 100%;
        height: 100%;
    }
    .aboutus-heading{
            color: #FFF;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
    
    }
    .aboutus-text-secction{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 28px;
    }
    .about-us-text-container{
        width: 483px;
        height: 187px;
    }
    .aboutus-text{
        color: rgba(255, 255, 255, 0.71);
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 137.5%; /* 27.5px */
        
    }

/* Why us section */

#whyUsSection{
    width: 100%;
    padding: 70px;
    box-sizing: border-box;
}

.grid-container{

}
.whyus-heading{
    color: #FFF;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap:  60px; /* Gap between grid items */
}

.gridItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;/* Center items horizontally */
}
.fatureIconTextDiv{
    width: 100%;
    display: flex;
    
}
.featureHeadDiv{
    margin-bottom: 90px;
}
.fetaureHead{
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    
}
.fetaureDescriptions{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;

}
.icon{
    max-width: 100%;
    margin-right: 5px;
}

/* Vedio section */
#youTube{
    width: 100%;
    padding: 70px;
    box-sizing: border-box;
}
.youtubeSectionHeading{
    padding-bottom: 67px;
    box-sizing: border-box;
}
.viedoDiv{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.video {
    width: 100%;
    height: 522px;
}
.youtubeSectionHeadingText{
    color: #FFF;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* carousal */

#carousalSection{
    margin: 0;
    padding: 70px;
    box-sizing: border-box;
}

.carousalHead{
    padding-bottom: 110px;
    box-sizing: border-box;
}
#carousalHeadingDiv{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
}
.carousal-heading-samll{
    color: #FFF;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
.carousal-headding{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   
}   

.carousel {
    display: flex;
    justify-content: center;
}

.card {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25.623px;
    width: 364px;
    height: 348px;
    border-radius: 21.855px;
    border: 1px solid #696969;
    padding: 60px 30px;
    box-sizing: border-box;
    background: #1D1D1D;
    margin-right: 20px;
    transform: scale(0.8);
    opacity: 0.7;
    transition: transform 0.5s, opacity 0.5s;
    
}

.card:last-child {
    margin-right: 0;
}
.cardText{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 12.058px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}
.card.active {
    transform: scale(1);
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s;
}
.carousel-controls{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 60px 30px;
    box-sizing: border-box;
}
.customerDetailsHead{
    display: flex;
    gap: 13px;
}
.customer-details {
    display: flex;
    flex-direction: column;
    gap: 6.7px;
}
.customer-name{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 9.903px;
    font-style: normal;
    font-weight: 800;
    line-height: 15.562px
}
.customer-desig-company{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 9.043px;
    font-style: normal;
    font-weight: 600;
    line-height: 15.562px;
}
.imageFit{
    object-fit: contain;
}
.arrowMargin{
    margin-right: 30px;
}

/* Footer section */
#footer{
    width: 100%;
    padding: 70px;
    padding: 70px;
    display: flex;
    justify-content: space-between;
    gap: 36px;
    border-top: 1px solid #FFF;
    background: #000;
    box-sizing: border-box;
}
.footerDiv{
    
    display: flex;
    align-items: center;
    gap: 300px;
}
.footerLogoText{
    display: flex;
    align-items: center;
    gap: 32px;
}
.footerDersciption{
    color: #FFF;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14.06px;
}
.footerIconsDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* mediaquries */


/* for nav bar */
@media (min-width:0px) and (max-width:900px) {
    
    .navItems ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #000;
    }
    /* #particles-js{
        height: 7456px;
    } */
    .navItems ul.active {
        position: fixed;
        z-index: 1;
        display: flex;
        align-items: center;
    }

    .navItems ul li {
        margin: 10px 0;
    }

    .navItems .logo {
        display: none;
    }

    .menu-toggle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-toggle .logo-icon,
    .menu-toggle .hamburger-icon {
        display: block;
        cursor: pointer;
    }

    .menu-toggle .hamburger {
        display: block;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 3px 0;
    }
}

/* for small screen */
@media (min-width:0px) and (max-width:575px){
    body{
        width: 100%;
    }
    .main{
        width: 100%;
        height: 100%;
    }
    /* #particle-js{
        width: 100%;
        height: 100%;
    } */
   
    .firstSection{
        padding: 20px;
    }
    .firstSectionDiv{
        display: flex;
        flex-direction: column;
    }
    .textSection{
        order: 1;
    }
    .gif{
        width: 100%;
        order: 2;
    }
    .imageContainer{

        width: 100%;
        height: 100%;
    }
    .clientsImgDiv {
        width: 100%;
        
    }
    .heading-text{
        font-size: 20px;
    }
    .headingTextsmall{
        font-size: 14px;
    }
    .readMoreBtn {
        font-size: 12px;
    }
    .clientsImgDiv {
        gap: 10px;
    }
    .clientsImgDiv {
        overflow-x: scroll; 
    }
    .serviceHead{
        padding: 20px;
    }
    .carousalHead{
        padding-bottom: 25px;
    }
    .service-head-text{
        font-size: 20px;
    }.card-service {
        display: flex ;
        flex-direction: column;
        padding: 20px 20px 20px 35px;
        box-sizing: border-box;
    }
    .service-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
        padding: 20px;
    }
    #whyUsSection{
        padding: 20px;
    }
    
    #aboutUs{
        padding: 20px;
    }
    .featureHeadDiv{
        margin-bottom: 35px;
    }
    .aboutus-heading{
        font-size: 20px;
    }
    .aboutus-text{
        font-size: 15px;
        color: #FFF;
    }
    .aboutUsContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 20px;
        border-radius: 14px;
        border: 1px solid rgba(255, 255, 255, 0.71);
        background: rgba(11, 11, 11, 0.40);
        box-sizing: border-box;
    }
    .gif-aboutUs{
        width: 100%;
    }
    .gif-aboutUs-vedio-container video{
        width: 100%; 
       
    }
    .whyus-heading{
        font-size: 20px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        gap:  30px; 
    }
    #youTube{
        padding: 20px;
    }
    .youtubeSectionHeading{
        padding-bottom: 30px;
    }
    .youtubeSectionHeadingText{
        font-size: 20px;
    }
    .video{
        height: 350px
    }
    video{
        width: 100%;
    }
    #carousalSection{
        padding: 20px;
    }
    .carousel{
            display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .card{
        width: 100%;
        height: 100%;
    }
    .carousal-headding{
        font-size: 20px;
    }
   #customerDetails{
    text-align: left;
   }
    .card:hover {
        transform: scale(1);
        opacity: 1;
        transition: transform 0.5s, opacity 0.5s;
    }
    .carousel-controls{
        display: none;
    }
    #footer{
        padding: 20px;
    }
    .footerDiv{
        display: grid;
        gap: 20px;
    }
}

/* medium-screen */
@media screen and (min-width: 576px) and (max-width: 768px) {
    body{
        max-width: 100%;
    }
    /* .main{
        padding-top: 80px
    } */
    .firstSection{
        padding: 20px;
    }
    .firstSectionDiv{
        display: flex;
        flex-direction: column;
    }
    .textSection{
        order: 1;
    }
    .gif{
        width: 100%;
        order: 2;
    }
    .imageContainer{

        width: 100%;
        height: 100%;
    }
    .clientsImgDiv {
        width: 100%;
        
    }
    .clientsImgDiv {
        gap: 10px;
    }
    
    .card-service {
        display: flex ;
        flex-direction: column;
        padding: 20px 20px 20px 35px;
        box-sizing: border-box;
    }
    .wid-25{
        width: 14%;
    }
    .serviceHead{
        padding: 30px 20px 20px 20px;
    }
    .service-head-text{
        font-size: 20px;
    }
    .service-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
        padding: 20px;
    }
    #whyUsSection{
        padding: 20px;
    }
    
    #aboutUs{
        padding: 20px;
    }
    .headingTextsmall{
        font-size: 12px;
    }
    .whyus-heading{
        font-size: 20px;
    }
    .featureHeadDiv{
        margin-bottom: 35px;
    }
    .aboutus-heading{
        font-size: 20px;
    }
    .aboutus-text{
        font-size: 15px;
        color: #FFF;
    }
    .aboutUsContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 20px;
        border-radius: 14px;
        border: 1px solid rgba(255, 255, 255, 0.71);
        background: rgba(11, 11, 11, 0.40);
        box-sizing: border-box;
    }
    .gif-aboutUs{
        width: 100%;
    }
    .gif-aboutUs-vedio-container video{
        width: 100%; 
       
    }
    .service-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 20px;
    }
    #youTube{
        padding: 20px;
    }
    #carousalSection{
        padding: 20px;
    }
    .carousalHead{
        padding-bottom: 25px;
    }
    .card{
        height: 100%;
             margin-right: 10px;
    }
    .carousel-controls{
        padding: 20px;
    }
    .carousal-heading-samll{
        font-size: 12px;
    }
    .carousal-headding{
        font-size: 20px;
    }
    #footer{
        padding: 20px;
    }
    .footerDiv{
        display: grid;
        gap: 20px;
    }
}

/* medium screen */
@media screen and (min-width: 769px) and (max-width: 992px){
    body{
        max-width: 100%;
    }
    /* .main{
        padding-top: 80px
    } */
    .firstSection{
        padding: 20px;
    }
    .firstSectionDiv{
        display: flex;
        flex-direction: column;
    }
    .textSection{
        order: 1;
    }
    .gif{
        width: 100%;
        order: 2;
    }
    .imageContainer{

        width: 100%;
        height: 100%;
    }
    .clientsImgDiv {
        width: 100%;
        
    }
    .clientsImgDiv {
        gap: 10px;
    }
    
    .serviceHead{
        padding: 30px 20px 20px 20px;
    }
    .service-head-text{
        font-size: 20px;
    }
    .service-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
        padding: 20px;
    }
    #aboutUs{
        padding: 20px;
    }
    .headingTextsmall{
        font-size: 12px;
    }
    #whyUsSection{
        padding: 20px;
    }
    .whyus-heading{
        font-size: 20px;
    }
    .featureHeadDiv{
        margin-bottom: 35px;
    }
    .aboutus-heading{
        font-size: 20px;
    }
    .aboutus-text{
        font-size: 15px;
        color: #FFF;
    }
    .aboutUsContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 20px;
        border-radius: 14px;
        border: 1px solid rgba(255, 255, 255, 0.71);
        background: rgba(11, 11, 11, 0.40);
        box-sizing: border-box;
    }
    .gif-aboutUs{
        width: 100%;
    }
    .gif-aboutUs-vedio-container video{
        width: 100%; 
       
    }
    .card-service {
        display: flex ;
        flex-direction: column;
        padding: 20px 20px 20px 35px;
        box-sizing: border-box;
    }
    .wid-25{
        width: 14%;
    }
    .service-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 20px;
    }
    #youTube{
        padding: 20px;
    }
    #carousalSection{
        padding: 20px;
    }
    .carousalHead{
        padding-bottom: 25px;
    }
    .card{
        height: 100%;
             margin-right: 10px;
    }
    .carousel-controls{
        padding: 20px;
    }
    .carousal-heading-samll{
        font-size: 12px;
    }
    .carousal-headding{
        font-size: 20px;
    }
    #footer{
        padding: 20px;
    }
    .footerDiv{
       display: grid    ;
        gap: 20px;
    }
}
/* forcarousal */
@media screen and (min-width: 575px) and (max-width: 766px){
    #carousalSection{
        padding: 20px;
    }
    .carousel{
            display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .card{
        width: 100%;
        height: 100%;
    }
    .carousal-headding{
        font-size: 20px;
    }
   #customerDetails{
    text-align: left;
   }
    .card:hover {
        transform: scale(1);
        opacity: 1;
        transition: transform 0.5s, opacity 0.5s;
    }
    .carousel-controls{
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    .aboutUsContainer{
        display: flex;
        flex-direction: column;
    }
}